header {
    width:500px;
    height:50px;
    background-color:grey;
}

footer {
    width:500px;
    height:50px;
    background-color:lightgrey;
}

td {
    padding: 10px;
}

/*Table colors*/
#R1K1 {
    background-color:#FFFFFF;
}

#R1K2 {
    background-color:#FFFFCC;
}

#R1K3 {
    background-color:#FFFF99;
}

#R1K4 {
    background-color:#FFFF66;
}

#R2K1 {
    background-color:#FFFF33;
}

#R2K2 {
    background-color:#FFFF00;
}

#R2K3 {
    background-color:#CCFFFF;
}

#R2K4 {
    background-color:#CCFFCC;
}

#R3K1 {
    background-color:#FFFFCC;
}

#R3K2 {
    background-color:#FFFFCC;
}

#R3K3 {
    background-color:#CCFF99;
}

#R3K4 {
    background-color:#CCFF66;
}

#R4K1 {
    background-color:#CCFF33;
}

#R4K2 {
    background-color:#CCFF00;
}

#R4K3 {
    background-color:#99FFFF;
}

#R4K4 {
    background-color:#99FFCC;
}

/*Text in table colors*/
#textR1K1 {
    background-color: #000000;
}

#textR2K1 {
    background-color: #000033;
}

#textR3K1 {
    background-color: #000066;
}

#textR4K1 {
    background-color: #000099;
}

#textR1K3 {
    background-color: #0000CC;
}

#textR2K3 {
    background-color: #0000FF;
}

#textR3K3 {
    background-color: #330000;
}

#textR4K3 {
    background-color: #330033;
}